<div class=" container mt-5">
    <div class=" row">
        <div class=" col-lg-8 offset-lg-16">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo" style="color:Tomato;">{{titulo |uppercase}} </span>
                    <form class="mt-6" [formGroup]="libroForm" (ngSubmit)="agregarLibro()">
                        <div class="mb-3">
                            <input type="text" formControlName="bookname" class="form-control form-control-lg " placeholder="bookname ">
                        </div>
                        <div class="mb-3 ">
                            <input type="text " formControlName="autor" class="form-control form-control-lg " placeholder="autor ">
                        </div>
                        <div class="mb-3 ">
                            <input type="text " formControlName="categoria" class="form-control form-control-lg " placeholder="categoria ">
                        </div>
                        <div class="mb-3 ">
                            <input type="Number " formControlName="numeroHojas" class="form-control form-control-lg " placeholder="numeroHojas ">
                        </div>
                        <div class="mb-3 ">
                            <input type="text " formControlName="fechaPublicacion" class="form-control form-control-lg " placeholder="fechaPublicacion ">
                        </div>
                        <div class="mb-3 ">
                            <input type="text " formControlName="nombreUsuario" class="form-control form-control-lg " placeholder="nombreUsuario ">
                        </div>
                        <div class="mb-3 ">
                            <button routerLink="/listar-libro " class=" btn btn-outline-warning btn-lg float-start ">Atras</button>
                            <button type="submit " [disabled]="libroForm.invalid " class="btn btn-warning btn-lg float-end ">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>